        <footer>
            <div class="small">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 text-left">
                            Copyright &copy; Wszech.pl
                        </div>
                        <div class="col-6 text-right">Site made by <a href="https://kuvus.pl">kuvuś</a></div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/mdb.min.js"></script>
        <script src="/js/iscroll.js"></script>
        <script src="/js/jscookie.js"></script>
        <script src="/js/parallax.js"></script>
        <script src="/js/rewrite.js"></script>
        <script src="/js/navbar.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131730183-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-131730183-1');
        </script>
        <script type="text/javascript">
            var _paq = window._paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//matomo.kuvus.pl/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
    </body>
</html>