        <footer>
            <div class="small">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 text-left">
                            Copyright &copy; Wszech.pl
                        </div>
                        <div class="col-6 text-right">Site made by <a href="https://kuvus.pl">kuvuś</a></div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://hcaptcha.com/1/api.js?hl=pl" async defer></script>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/mdb.min.js"></script>
        <script src="/js/iscroll.js"></script>
        <script src="/js/jscookie.js"></script>
        <script src="/js/parallax.js"></script>
        <script src="/js/rewrite.js"></script>
        <script src="/js/navbar.js"></script>
    </body>
</html>