                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-primary card-outline">
                                    <div class="card-body">
                                        <b>Niestety twoje konto zostało zablokowane w naszym serwisie, ponieważ prawdopodobnie złamałeś któryś z punktów regulaminu.</b>
                                        <p>Jeśli nie znasz przyczyny blokady, możesz się z nami skontaktować na poniższe sposoby:</p>
                                        <ul>
                                            <li>Poprzez e-mail: kontakt@wszech.pl</li>
                                            <li>Na Discordzie: @kuvuś#1337</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>