                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <% if (messages.length > 0) { let message = JSON.parse(messages[0]) %>
                                    <div class="alert alert-<%= message.state %>" role="alert">
                                        <%= message.message %>
                                    </div>
                                <% } %>
                                <div class="card card-primary card-outline">
                                    <div class="card-body">
                                        <b>Nie możesz korzystać z żadnych funkcji w serwisie wszech.pl, dopóki nie aktywujesz swojego konta.</b>
                                        <p>Jeśli nie dostałeś e-maila z potwierdzeniem rejestracji, kliknij <a
                                                    href="/user/confirm/resend">tutaj</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>