<div class="container-fluid px-5 mt-2">
    <article>
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Nazwa użytkownika</h3>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="<%- nick %>" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button">Zmień</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="mt-5">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Adres e-mail</h3>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="<%- user.mail %>" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button">Zmień</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="mt-5">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Hasło</h3>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" value="Nie znamy twojego hasła, nie martw się ;)" readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button">Zmień</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>