<%- include("./partials/header",{title:"Dostęp zabroniony", main: false}) %>
</div>

<div class="container error v-center">
    <div class="row">
        <div class="col-md-9 v-center">
            <h1>Niestety nie masz dostępu do tej strony.</h1>
            <h3>Jeśli jesteś pewien, że powinieneś mieć dostęp do tej strony, sprawdź, czy jesteś zalogowany na właściwe konto.</h3>
        </div>
        <div class="col-md-3">
            <img src="/img/shrug.png" alt="" width="80%">
        </div>
    </div>
</div>

<% include ./partials/footer %>