<%- include("./partials/header",{title:"Wystąpił błąd", main: false}) %>
</div>

<div class="container error v-center">
    <div class="row">
        <div class="col-md-9 v-center">
            <h1>Niestety twoja przeglądarka nie jest przez nas wspierana.</h1>
            <h3>Polecamy uzyć przeglądarki Mozilla Firefox lub Google Chrome.</h3>
        </div>
        <div class="col-md-3">
            <img src="/img/shrug.png" alt="" width="80%">
        </div>
    </div>
</div>

<% include ./partials/footer %>