<% include ../partials/header %>
<section class="section-light">
    <div class="container">
        <h2 class="section-title">Polityka Cookies</h2>
        <hr />
        <br />
        <p>Poniższa Polityka Cookies określa zasady zapisywania i uzyskiwania dostępu do danych na Urządzeniach Użytkowników korzystających z Serwisu do celów świadczenia usług drogą elektroniczną przez Administratora Serwisu.</p>

        <h4 class="text-center">§ 1 Definicje</h4>
        <ul>
            <li><p><b>Serwis</b> - serwis internetowy działający pod adresem <span id="serwis"><span class="colored">wszech.pl</span></span></p></li>
            <li><p><b>Serwis zewnętrzny</b> - serwis internetowe partnerów, usługodawców lub usługobiorców Administratora</p></li>
            <li><p><b>Administrator</b> - właściciel Serwisu świadczący usługi drogą elektroniczną za pośrednictwem Serwisu oraz przechowująca i uzyskująca dostęp do informacji w urządzeniach Użytkownika</p></li>
            <li><p><b>Użytkownik</b> - osba fizyczna, dla której Administrator świadczy usługi drogą elektroniczna za pośrednictwem Serwisu.</p></li>
            <li><p><b>Urządzenie</b> - elektroniczne urządzenie wraz z oprogramowaniem, za pośrednictwem, którego Użytkownik uzyskuje dostęp do Serwisu</p></li>
            <li><p><b>Cookies (ciasteczka)</b> - dane tekstowe gromadzone w formie plików zamieszczanych na Urządzeniu Użytkownika</p></li>
        </ul>
        <h4 class="text-center">§ 2 Rodzaje Cookies</h4>
        <ul>
            <li><p><b>Cookies wewnętrzne</b> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przes system teleinformatyczny Serwisu</p></li>
            <li><p><b>Cookies zewnętrzne</b> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez systemy teleinformatyczne Serwisów zewnętrznych</p></li>
            <li><p><b>Cookies sesyjne</b> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis <span id="sz1" style="display: inline;">lub Serwisy zewnętrzne</span> podczas jednej sesji danego Urządzenia. Po zakończeniu sesji pliki są usuwane z Urządzenia Użytkownika.</p></li>
            <li><p><b>Cookies trwałe</b> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis <span id="sz2" style="display: inline;">lub Serwisy zewnętrzne</span> do momentu ich ręcznego usunięcia. Pliki nie są usuwane automatycznie po zakończeniu sesji Urządzenia chyba że konfiguracja Urządzenia Użytkownika jest ustawiona na tryb usuwanie plików Cookie po zakończeniu sesji Urządzenia.</p></li>
        </ul>

        <h4 class="text-center">§ 3 Bezpieczeństwo</h4>
        <ul>
            <li><p><b>Mechanizmy składowania i odczytu</b> - Mechanizmy składowania i odczytu Cookies nie pozwalają na pobierania jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika. Przeniesienie na Urządzenie Użytkownika wirusów, koni trojańskich oraz innych robaków jest praktynie niemożliwe.</p></li>
            <li><p><b>Cookie wewnętrzne</b> - zastosowane przez Administratora Cookie wewnętrzne są bezpieczne dla Urządzeń Użytkowników</p></li>
            <li><p><b>Cookie zewnętrzne</b> - za bezpieczeństwo plików Cookie pochodzących od partnerów Serwisu Administrator nie ponosi odpowiedzialności. Lista partnerów zamieszczona jest w dalszej części Polityki Cookie.</p></li>
        </ul>

        <h4 class="text-center">§ 4 Cele do których wykorzystywane są pliki Cookie</h4>
        <ul id="cele"><li><p><b><span class="colored">Usprawnienie i ułatwienie dostępu do Serwisu</span></b> - Administrator może przechowywać w plikach Cookie informacje o prefernecjach i ustawieniach użytkownika dotyczących Serwisu aby usprawnić, polepszyć i przyśpieszyć świadczenie usług w ramach Serwisu.</p></li><li><p><b><span class="colored">Logowanie</span></b> - Administrator wykorzystuje pliki Cookie do celów logowania Użytkowników w Serwisie</p></li><li><p><b><span class="colored">Dane statystyczne</span></b> - Administrator <span id="sz4" style="display:inline">oraz Serwisy zewnętrzne</span> wykorzystuje pliki Cookie do zbirania i przetwarzania danych statystycznych takich jak np. statystyki odwiedzin, statystyki Urządzeń Użytkowników czy statystyki zachowań użytkowników. Dane te zbierane są w celu analizy i ulepszania Serwisu.</p></li></ul>
        <h4 class="text-center">§ 5 Serwisy zewnętrzne</h4>
        <p id="zewinfo"><span class="colored">Administrator współpracuje z następującymi serwisami zewnętrznymi, które mogą zamieszczać pliki Cookie na Urządzeniach Użytkownika:</span></p>
        <ul id="zewnetrzne"><li><p><b><span class="colored">Google Analytics</span></b></p></li></ul>
        <h4 class="text-center">§ 6 Możliwości określania warunków przechowywania i uzyskiwania dostępu na Urządzeniach Użytkownika przez Serwis<span id="sz6" style="display: inline;"> i Serwisy zewnętrzne</span></h4>
        <ul>
            <li><p>Użytkownik może w dowolnym momencie, samodzielnie zmienić ustawienia dotyczące zapisywania, usuwania oraz dostępu do danych zapisanych plików Cookies</p></li>
            <li><p>Informacje o sposobie wyłączenia plików Cookie w najpopularniejszych przeglądarkach komputerowych i urządzeń mobilnych dostępna są na stronie: <a href="http://jakwylaczyccookie.pl">jak wyłączyć cookie</a>.</p></li>
            <li><p>Użytkownik może w dowolnym momencie usunąć wszelkie zapisane do tej pory pliki Cookie korzystając z narzędzi Urządzenia Użytkownika za pośrednictwem którego Użytkowanik korzysta z usług Serwisu.</p></li>
        </ul>
        <h4 class="text-center">§ 7 Wymagania Serwisu</h4>
        <ul>
            <li><p>Ograniczenie zapisu i dostępu do plików Cookie na Urządzeniu Użytkownika może spowodować nieprawidłowe działanie niektórych funkcji Serwisu.</p></li>
            <li><p>Administrator nie ponosi żadnej odpowiedzialności za nieprawidłowo działające funkcje Serwisu w przypadku gdy Użytkownik ograniczy w jakikolwiek sposób możliwość zapisywania i odczytu plików Cookie.</p></li>
        </ul>
        <h4 class="text-center">§ 8 Zmiany w Polityce Cookie</h4>
        <ul>
            <li><p>Administrator zastrzega sobie prawo do dowolnej zmiany niniejszej Polityki Cookie bez konieczności informowania o tym użytkowników.</p></li>
            <li><p>Wprowadzone zmiany w Polityce Cookie zawsze będą publikowane na tej stronie.</p></li>
            <li><p>Wprowadzone zmiany wchodzą w życie w dniu publikacji Polityki Cookie.</p></li>
        </ul>
    </div>
</section>
<% include ../partials/footer.ejs %>
