<% include ../partials/header %>

<div class="container pt-5 pb-5">
<h1 class="text-center mb-5">Regulamin serwisu Wszech.pl</h1>

<h3 class="mb-3 mt-3">§1 Definicje</h3>
    <ol>
        <li><b>Użytkownik</b> – osoba, która założy konto w serwisie Wszech.pl na zasadach określonych w poniższym regulaminie.</li>
        <li><b>Serwis</b> – serwis internetowy Wszech.pl świadczący usługi drogą elektroniczną na rzecz Użytkownika.</li>
        <li><b>Subdomena</b> – domena trzeciego poziomu utworzona w domenie Wszech.pl poprzez  	zamówienie złożone przez Użytkownika.</li>
        <li><b>Administrator</b> – osoba zarządzająca serwisem Wszech.pl.</li>
    </ol>
    <h3 class="mb-3 mt-3">§2 Postanowienia ogólne</h3>
    <ol>
    <li>Poniższy regulamin określa ogólne warunki korzystania z Serwisu.</li>
    <li>Użytkownik rejestrujący konto w Serwisie akceptuje poniższy regulamin i zobowiązuje się do przestrzegania go.</li>
    <li>Zabronione jest umieszczanie na Subdomenach treści niezgodnych z regulaminem Serwisu oraz prawem polskim i międzynarodowym.</li>
    <li>Serwis nie bierze odpowiedzialności za treści umieszczane przez Użytkowników na zarejestrowanych przez nich Subdomenach.</li>
    <li>Administrator Serwisu zastrzega sobie prawo do ograniczenia dostępu do świadczonych usług gdy:

        <ol>
            <li> Użytkownik nie przestrzega zasad regulaminu, prawa polskiego lub prawa międzynarodowego;</li>
            <li> Stwierdzi, że Subdomena zarejestrowana przez Użytkownika jest nieodpowiednia lub niezgodna z regulaminem Serwisu;</li>
            <li> Użytkownik działa na szkodę Serwisu;</li>
        <li> Konieczne jest wykonanie przerwy technicznej.</li>
        </ol>
        </li>
        <li>W Serwisie zabronione jest rejestrowanie Subdomen, które:
            <ol>
            <li>Zawierają treści rasistowskie, homofobiczne, ksenofobiczne;</li>
            <li>Zawierają mowę nienawiści;</li>
            <li>Zawierają zarejestrowane znaki towarowe, które nie należą do osoby rejestrującej Subdomenę;</li>
                <li>Zawierają nazwy zastrzeżone, które nie należą do osoby rejestrującej Subdomenę.</li>
            </ol>
        </li>
        <li>Użytkownik może usunąć konto w Serwisie poprzez kontakt z Administratorem lub przez panel użytkownika.</li>
        </ol>
    <h3 class="mb-3 mt-3">§3 Dane osobowe</h3>
    <ol>
        <li>Korzystanie ze wszystkich funkcji Serwisu może wymagać udostępnienia przez Użytkownika następujących danych
            osobowych:
            <ul>
                <li>Adres IP</li>
            </ul>
        </li>
        <li>Formą identyfikacji Użytkownika są dane podane przy rejestracji oraz adres IP Użytkownika.</li>
        <li>Zakładając konto, Użytkownik wyraża zgodę na przetwarzanie danych osobowych określonych w punkcie §3.1 regulaminu.</li>
    </ol>
</div>
<% include ../partials/footer %>
